/* universal selector -> * */
* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

/* type selector */
h1, p {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

/* ID selector */
#profile {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

body {
    background-color: #FF7CFD;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23040406' stroke-width='48.1' stroke-opacity='0.05' %3E%3Ccircle fill='%23FF7CFD' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f883fd' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f08afd' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23e991fd' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e298fd' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23dba0fe' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23d3a7fe' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23ccaefe' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23c5b5fe' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23bdbcfe' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23b6c3fe' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23afcafe' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23a7d1fe' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23a0d9ff' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2399e0ff' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2392e7ff' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%238aeeff' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%2383F5FF' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

#landing {
/* vh - viewport height */
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}